h1 {
    color: rgb(0, 255, 115);
    font-size: 25px;
}

h1:hover {
    color:green;
    font-size: 30px;
}

#galaxy-photo { /* hastag means this is an ID */
    width: 250px;
}

.special { /* dot means this is a class */
    color: teal;
    font-size: 20px;
    border: 1px solid teal;
}

input[type="text"] {
    width: 210px;
}

.todo {
    font-size: 25px;
    color: olivedrab
}

.done {
    color: gray;
    text-decoration: line-through;
    opacity: 50%;
}

#impossible {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 100px;
}

#boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 500px;
}