#btn {
    border-radius: 50%;
    padding: 8px;
    float: left;
    margin-right: 15px;
}

#taskList {
    font-size: 30px;
    list-style-type: none;
    padding: 0;
}

.task {
    font-size: 25px;
    color: black;
}

.done {
    color: gray;
    text-decoration: line-through;
    opacity: 50%;
}